*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
maillijst.txt

# YARD artifacts
.yardoc
_yardoc
doc/

_site/atom.xml
_site

# Node garbage to watch less files
# node_modules
# Gruntfile.js
# package.json