@repl-error-red: #CC3300;
@repl-orange: #FF6600;
@repl-green: #336600;
@repl-blue: #006699;
@wargames-blue: #95bbfa;

#console {
  height: 310px;
  width: 600px;
  position:relative;
  background: transparent;
  // border: 2px solid #CCC;
  margin-left:  71px;

  pre {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
  }

  .repl-error {
    color: lighten(@repl-error-red, 15%);
  }
  
  .repl-result {
    color: lighten(@repl-green, 25%);
  }

  .repl-lesson {
    color: lighten(@repl-blue, 25%)
  }
}

.jqconsole {
  padding: 10px;
  padding-bottom: 10px;
}
.jqconsole-cursor {
  background-color: @inverse;
}
.jqconsole-blurred .jqconsole-cursor {
  background-color: #666;
}
.jqconsole-prompt {
  color: @inverse;
}
.jqconsole-old-prompt {
  color: darken(@inverse, 20%);
  font-weight: normal;
}
.jqconsole-input {
  color: #dd0;
}
.jqconsole-old-input {
  color: darken(@inverse, 20%);
  font-weight: normal;
}
.brace {
  color: #00FFFF;
}
.paran {
  color: #FF00FF;
}
.bracket {
  color: #FFFF00;
}
.jqconsole-composition {
  background-color: red;
}