<header>

  <!-- <img src="/public/images/logo.png" height="65px" style="padding:0px; margin-top:13px;"> -->
  <!-- <img src="/public/images/logo.png" height="60px" style="padding:0px; margin:0px;"/> -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img id="rubylogo" src="/public/images/logo.png"></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" style="font-weight:400;">Home</a></li>
          <!-- <li><a href="/introductie">Introductie</a></li> -->
          <!-- <li><a href="">Contact</a></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ruby <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/ruby/installatie">Installatie</a></li>
              <li><a href="/ruby/command_line">Command Line</a></li>
              <li class="divider"></li>
              <li><a href="/ruby/hoofdstuk1">Hoofdstuk 1</a></li>
              <li><a href="/ruby/hoofdstuk2">Hoofdstuk 2</a></li>
              <li><a href="/ruby/hoofdstuk3">Hoofdstuk 3</a></li>
              <li><a href="/ruby/hoofdstuk4">Hoofdstuk 4</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sinatra <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/ruby/installatie">Installatie</a></li>
              <li><a href="/ruby/command_line">Command Line</a></li>
              <li class="divider"></li>
              <li><a href="/ruby/hoofdstuk1">Hoofdstuk 1</a></li>
              <li><a href="/ruby/hoofdstuk2">Hoofdstuk 2</a></li>
              <li><a href="/ruby/hoofdstuk3">Hoofdstuk 3</a></li>
              <li><a href="/ruby/hoofdstuk4">Hoofdstuk 4</a></li>
            </ul>
          </li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</header>