h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

h2 {
  margin-top: 20px;
}
h3 {
  margin-top: 24px;
}

.nav > li > a:hover, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: underline;
}

nav {
  font-family: @font-family-monospace;
}

.navbar-brand {
  // margin-top: -11px;
}


// header .container {
//   @media (min-width: @screen-sm-min) {
//   }
//   @media (min-width: @screen-md-min) {
//   }
//   @media (min-width: @screen-lg-min) {
//     @padding-nav: 0.5 * (@container-lg - @nav-width);
//     padding-left: @padding-nav;
//     padding-right: @padding-nav;
//   }
// }

// .content {

//   @media (min-width: @screen-sm-min) {
//     padding: 40px 30px 40px 30px;
//   }
//   @media (min-width: @screen-md-min) {
//     padding: 40px 60px 40px 60px;
//   }
//   @media (min-width: @screen-lg-min) {
//     @padding-content: 0.5 * (@container-lg - @content-width);
//     padding: 40px @padding-content 40px @padding-content;
//   }
// }

.content {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer {
  padding-top: 40px;
  padding-bottom: 20px;
}

@media (min-width: @screen-sm-min) {
  @padding-content: 0.5 * (@container-sm - @content-width);
  .container {
    padding-left: @padding-content;
    padding-right: @padding-content;
  }
}

@media (min-width: @screen-md-min) {
  @padding-content: 0.5 * (@container-md - @content-width);
  .container {
    padding-left: @padding-content;
    padding-right: @padding-content;
  }
}

@media (min-width: @screen-lg-min) {
  @padding-content: 0.5 * (@container-lg - @content-width);
  @padding-nav: 0.5 * (@container-lg - @nav-width);

  .content {
    padding-left: @padding-content;
    padding-right: @padding-content;
  }

  header .container {
    padding-left: @padding-nav;
    padding-right: @padding-nav;
  }

  footer .container {
    padding-left: @padding-content;
    padding-right: @padding-content;
  }
}

footer #logo {
  font-family: @font-family-monospace;
  text-decoration: none;
  font-size: @font-size-h3;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin: -10px 0 10px;
  color: @asbestos;
}

/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-top: 40px;
  font-weight: bold;
  color: @silver;
  text-align: center;
  border-top: 1px solid #eee;
}
/* Pagination should float when space is plentiful */
@media (min-width: 990px) {
  .pagination {
    margin-bottom: 60px;
    border: 1px solid #eee;
  }
}

.pagination a,
.pagination span {
  float: left;
  width: 50%;
  padding: 20px;
}
.pagination a:first-child,
.pagination span:first-child {
  border-right: 1px solid #eee;
}
.pagination a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}

/* CODE */

code,
pre {
  font-family: @font-family-monospace;
}
code {
  padding: .25em .5em;
  // font-size: 85%;
  // color: darken(@brand-primary, 10%);
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-bottom: 14px;
  padding: 15px 20px;
  // font-size: 18px;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

// Affix scroll spy

#page-map li {
  a {
    font-weight: normal;
    font-family: @font-family-monospace;
    font-size: 12px;
    color: @mdo-black;
  }
}

#page-map li.active, {
  a {
    background-color: darken(@code-bg, 5%);
  }
}

#page-map li {
  a:hover {
    background-color: darken(@code-bg, 5%);
  }
}


// #back-to-top {
//   font-weight: 600;
//   font-size: 14px; 
// }

#page-map {
  margin-top: 0;
  margin-bottom: 0;
}

.page-map-sidebar {
  width:120px;
}
.page-map-sidebar.affix {
position: fixed;
top: 20px;

}

.page-map-sidebar.affix-bottom {
position: absolute;
}


.page-map-sidebar {
  display: none;
}
#rubylogo {
  width: 240px;
  padding:0px;
  margin-top:-8px;
  margin-right: 20px;
  margin-left: 4px;
}

@media (max-width: @screen-xs) {
  #rubylogo {
    width: 180px;
    margin-right:0px;
  }
}

